<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqOyPfdQ-2DsAakwQSC3VYWpo5WSdPJTU</string>
	<key>GCM_SENDER_ID</key>
	<string>940668532893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.financeiro</string>
	<key>PROJECT_ID</key>
	<string>mob-financeiro</string>
	<key>STORAGE_BUCKET</key>
	<string>mob-financeiro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940668532893:ios:746c038c7b8d2932433c74</string>
</dict>
</plist>